*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.slider{
    height:100vh;
}


.slide{
    display:none;
    animation: fade 0.5s ease-out;
}

@keyframes fade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

img{
    width:100%;
    height:100vh;
}
.Btn{
    position: absolute;
    top:45%;
    font-size: 4rem;
    color: whitesmoke;
    padding:1rem;
    border-radius: 7px;
}
.Btn:hover{
    background-color: lightgrey;
    color: greenyellow;
}
.prev{
    left:2rem;
}
.next{
    right:2rem;
}

